@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 129 242 200;
    --muted: 95 199 164;
    --accent: 64 224 182;
  }
  * {
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .custom-bg {
    background-color: rgba(var(--background), 0.8);
    backdrop-filter: blur(10px);
  }

  .bg-firefly-radial {
    background: radial-gradient(
      circle,
      rgba(255, 105, 255, 0.6) 0%,
      rgba(255, 105, 255, 0) 70%
    );
  }

  .animate-spin-slow {
    animation: spin 20s linear infinite;
  }

  .animate-spin-slow-reverse {
    animation: spin 20s linear infinite reverse;
  }

  .cursor-default {
    @apply cursor-auto;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
